################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ParticleSwarmOptimization/ParticleSwarmOptimization/.vs/ParticleSwarmOptimization
/ParticleSwarmOptimization/ParticleSwarmOptimization/bin/Debug/net8.0
/ParticleSwarmOptimization/ParticleSwarmOptimization/obj
